html, body, h1, h2, h3, h4, p {
  margin:0;
  padding:0;
}
html{
  background: #666;
  font-family: "Roboto", sans-serif;
}
main {
  width: 850px;
  max-width: 950px;
  height: 950px;
  background-color:rgb(255,255,255);
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  box-shadow: 0 0 10px rgb(87, 87, 87);
  margin: 10px auto;
  padding: 0px;
}
#contatos{
  background:linear-gradient(to top, #333e4b, #0e3e4b) fixed;
  color: white;
  width: 280px;
  height: 950px;
  float: left;
  padding: 0px;
  margin: 0;
  border-right: solid 1px #949ea4;
}
#contatos h1, h2{
  font-size: large;
}
#contatos h1{
  margin-left:35px;
  margin-top: 100px;

}
#contatos h2{
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: -5px;
}
#contatos ul {
  list-style: none;
}
#contatos ul li{
  width: 100px;
  margin:10px;
  padding: 0px;
  display: block;
}
#contatos ul li img{
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
}
#contatos ul li a{
  color: white;
  text-decoration: none;
  
}
#contatos ul li a:hover{
  background-color: #172432;
}
#bio{
  width: 500px;
  height: 910px;
  float: right;
  padding-left: 25px;
}
#bio h1{
  font-size: 35px;
  margin-top: 95px;
  margin-bottom: 10px;
}
#bio img{
  float: right;
  margin-top: -70px;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
.cidade {
  color: gray;
}
.resumo{
  clear: both;
}
.resumo h2{
  margin-bottom: 10px;
  font-size: 25px;
}
.resumo p {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.884);
}
.resumo hr{
  width: 50px;
  float: left;
}
/* ajustar o conteudo para celular */
@media screen and (max-width:480px) {
  main{
    max-width: 420px;
    font-size: 1.0em;
  }
  #contatos{
    padding: 20px;
    width: 35%;
    margin-left: -30px;
  }
  #bio{
    padding: 10px;
    width: 50%;
  }
  #bio img{
    margin-top: 0px;
  }
}